@page
@model MyCalendar.Pages.AccesRequest.ToUserModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Otrzymane zaproszenia</h1>
    </div>
</div>

@if (ViewData["Message"] == null)
{
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h3>Zaakceptowane</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span>Email użytkownika</span>
                        </th>
                        <th scope="col">
                            <span></span>
                        </th>
                    </tr>
                </thead>
                @if (Model.AccesRequestsList.Accepted.Count() > 0)
                {
                    foreach (var request in Model.AccesRequestsList.Accepted)
                    {
                        <tr>
                            <td>
                                @request.UserEmail
                            </td>
                            <td>
                                <a class="btn btn-dark float-end" asp-page="/AccesRequest/Delete" asp-route-id="@request.Id" asp-route-returnUrl="/AccesRequest/ToUser">Usuń</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h3>Oczekujące</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span>Email użytkownika</span>
                        </th>
                        <th scope="col">
                            <span></span>
                        </th>
                    </tr>
                </thead>
                @if (Model.AccesRequestsList.NoAccepted.Count() > 0)
                {
                    foreach (var request in Model.AccesRequestsList.NoAccepted)
                    {
                        <tr>
                            <td>
                                @request.UserEmail
                            </td>
                            <td>
                                <a class="btn btn-dark float-end" asp-page="/AccesRequest/Delete" asp-route-id="@request.Id" asp-route-returnUrl="/AccesRequest/ToUser">Odrzuć</a>
                                <a class="btn btn-dark float-end" asp-page="/AccesRequest/Accept" asp-route-id="@request.Id">Akceptuj</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}
@if (ViewData["Message"] != null)
{
    <div class="py-2">
        <div class="container">
            <span class="text-warning">@ViewData["Message"]</span>
        </div>
    </div>
}